:root {
  --main-color: #f7d871;
  --text-decoration: none;
  --border: 1px solid var(--main-color);
}
@media (max-width: 576px) {
  h1 {
    font-size: 70px;
  }
}
.container {
  padding: auto;
}
.heading {
  margin-top: 50px;
}
h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
}
h3 {
  margin-top: 10px;
  font-size: 24px;
  opacity: 0.7;
}
.Fjalla-One {
  font-family: "Fjalla One", sans-serif;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.Rampart-One {
  font-family: "Rampart One", cursive;
}
.Pacifico {
  font-family: "Pacifico", cursive;
}
#name {
  margin-left: 20px;
}
.box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.border-text {
  border: var(--border);
  padding: 15px 14px;
  border-radius: 4px;
  margin: 20px;
}
.border-button {
  border: var(--border);
  padding: 15px 14px;
  width: fit-content;
  border-radius: 4px;
}
#colored {
  background-color: var(--main-color);
  text-decoration: var(--text-decoration);
  font-size: 20px;
  color: white;
}
#outline {
  font-size: 20px;
  color: var(--main-color);
  text-decoration: var(--text-decoration);
}
#colored:hover,
#outline:hover {
  color: black;
  transition: all 0.4s ease-out;
}

.container {
  margin-top: 30px;
}
.left {
  display: flex;
  justify-content: start;
}
#left {
  text-align: left;
}
p {
  font-size: 20px;
  line-height: 30px;
}
img {
  border-radius: 10px;
}
.row {
  margin-bottom: 30px;
}
